.input {
    all: unset;
    border: 1px solid black;
    background-color: azure;
    font-size: 12px;
    padding: 2px;
    color: rebeccapurple;
    float: right;
}

.default-input {
    all: unset;
    border: 1px solid black;
    background-color: azure;
    font-size: 12px;
    padding: 2px;
    color: rebeccapurple;
    float: right;
    width: 170px;
}